html, body {
  margin: 0;
  padding: 0;
}

.full-vw {
    width: 100vw;
}

.full-vh {
    height: 100vh;
}

.full-w {
    width: 100%;
}

.full-h {
    height: 100%;
}

.position-rel {
    position: relative;
}

.position-abs {
    position: absolute;
    top: 0;
    left: 0;
}